<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Instituto Magnum</h4>
        <ul>
          <li><a href="/about">Sobre Nós</a></li>
          <li><a href="/contato">Fale Conosco</a></li>
          <li><a href="/matricula">Matricule-se</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Redes Sociais:</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/InstitutoMagnumdeEnsino" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://web.whatsapp.com/send?phone=5531995794165" target="_blank"><i class="fab fa-whatsapp"></i></a>
          <a href="https://www.instagram.com/instituto_magnum/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>