<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Login</title>

    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://unpkg.com/jwt-decode/build/jwt-decode.js"></script>
    <script>
        function handleCredentialResponse(response) {
            
            const data = jwt_decode(response.credential)
            console.log(data)
            fullName.textContent = data.name
            sub.textContent = data.sub
            given_name.textContent = data.given_name
            family_name.textContent = data.family_name
            email.textContent = data.email
            verified_email.textContent = data.verified_email
            picture.setAttribute("src",data.picture)
        }

        window.onload = function () {
          google.accounts.id.initialize({
            client_id: "796350724883-3uqoocdu1rmkqeggc60makh298ctbvc2.apps.googleusercontent.com",
            callback: handleCredentialResponse
          });
          google.accounts.id.renderButton(
            document.getElementById("buttonDiv"),
            { theme: "filled_black", 
            size: "large",
            type:"standard",
            shape:"pill",
            text:"$ {button.text}",
            logo_alignment:"left" ,
            width:"100" // customization attributes
        });
          google.accounts.id.prompt(); // also display the One Tap dialog
        }
    </script>
    
</head>
<body>

<div class="form">
  <form>
    <label></label>
  </form>

</div>
  
  <!--inicio botão logar com o google -->
    <div id="buttonDiv"></div>
    <p id="fullName"></p> 
    <p id="sub"></p>
    <p id="given_name"></p>
    <p id="family_name"></p>
    <p id="email"></p>
    <p id="verified_email"></p> 
    <img id="picture"/>
  <!--fim botão logar com o google-->  
    
</body>
</html>